#topheader a{
color:gray;
font-weight: 500;
font-size:0.89rem;
border-bottom:1px silver;
}

.mylogo{
    background-color:lightcyan;
  
}
.top-main-section{
    
    color:black;
    }
    
    .qualities-img{
        width:300px;
        height: 300px;
    }